@model IEnumerable<MVCInicial.Models.VehiculoModelo>

@{
    ViewBag.Title = "BuscarVehiculos";
}

<h2>BuscarVehiculos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form method="get">
    <input id="busqueda" type="search" name="busqueda" placeholder="busca por el name poniendole busqueda" />
    <input id="Submit1" type="submit" value="busca" />
</form>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Serie.Nom_serie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Serie.Nom_serie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Matricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
