@model IEnumerable<MVCInicial.Controllers.VehiculoController.VehiculoTotal>

@{
    ViewBag.Title = "Listado3";
}

<h2>Listado3</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom_marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom_serie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.color)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom_marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom_serie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Matricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.color)
        </td>
       
    </tr>
}

</table>
